name: consul4s CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  scalafmt:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['17']
        scala: [2.13.8]
    steps:
      - uses: sbt/setup-sbt@v1
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'

      - name: scalafmt
        run: sbt ++${{ matrix.scala }} scalafmtCheckAll

  test-scala2:
    runs-on: ubuntu-latest
    name: Scala ${{ matrix.scala }}, Java ${{ matrix.java }}
    strategy:
      fail-fast: false
      matrix:
        java: ['17']
        scala: [2.12.15, 2.13.8]
    continue-on-error: true
    steps:
      - uses: sbt/setup-sbt@v1
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'

      - name: Run circe-tests
        run: sbt ++${{ matrix.scala }} circe/test

      - name: Run json4s-tests
        run: sbt ++${{ matrix.scala }} json4s/test

      - name: Run sprayJson-tests
        run: sbt ++${{ matrix.scala }} sprayJson/test

  test-scala3:
    runs-on: ubuntu-latest
    name: Scala ${{ matrix.scala }}, Java ${{ matrix.java }}
    strategy:
      fail-fast: false
      matrix:
        java: ['17']
        scala: [3.3.1]
    continue-on-error: true
    steps:
      - uses: sbt/setup-sbt@v1
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'

      - name: Run circe-tests
        run: sbt ++${{ matrix.scala }} circe/test
